button.link {
  padding: 0.5rem 0.75rem;
}

.options {
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: grid;
  grid-template-columns: auto;
  grid-auto-flow: column;
  column-gap: 1rem;
  place-content: start;
}

.options a:not(.button) {
  padding: 1rem;
}

.options > * {
  text-align: center;
  display: grid;
}

.options > * > i {
  place-self: center;
}

.movie-info {
  grid-column: 1 / 13;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "poster"
    "info";
  grid-template-rows: min-content min-content;
  row-gap: 1rem;
  column-gap: 1rem;
}

.movie-info .poster {
  grid-area: poster;
}
.movie-info .info {
  grid-area: info;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "title title"
    "release_date release_date"
    "overview overview"
    "genres collections"
    "file_name file_name";
  grid-auto-rows: min-content;
  row-gap: 1rem;
  column-gap: 1rem;
}
.movie-info .info .title {
  grid-area: title;
}
.movie-info .info .title h2 {
  margin-block: 0;
}
.movie-info .info .release_date {
  grid-area: release_date;
  align-self: anchor-center;
}
.movie-info .info .overview {
  grid-area: overview;
}
.movie-info .info .genres {
  grid-area: genres;
}
.movie-info .info .collections {
  grid-area: collections;
}
.movie-info .info .genres h3,
.movie-info .info .collections h3,
.movie-info .info .file_name h3 {
  margin-block: 0;
}
.movie-info .info .file_name {
  grid-area: file_name;
}

@media only screen and (min-width: 768px) {
}
@media only screen and (min-width: 1024px) {
  .movie-info {
    grid-template-columns: 200px 1fr;
    grid-template-areas:
      "poster info"
      "poster info";
  }
  .movie-info .info {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "title release_date"
      "overview overview"
      "genres collections"
      "file_name file_name";
  }
}
@media only screen and (min-width: 1280px) {
}
@media only screen and (min-width: 1580px) {
  .movie-info .info {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
      "title title release_date"
      "overview overview overview"
      "genres collections file_name";
  }
}
